body{
    text-align: center;
    margin: 0;
}

h1{
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/* .dice is the class of the div that contains the dice */
/* *i add some animation here bro */
.dice{
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

button{
    background-color: #47a5c4;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color .3s ease-in-out;
}

button:hover{
    background-color: orange;
}

#roll-history{
    list-style: none;
    padding: 0;
    margin: 2rem;
    max-width: 600px;
    margin: 2rem auto;
}

li{
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: #f2f2f2;
    border-radius: 10rem;
    box-shadow: 0 2px 2px rgba(900, 10, 9, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span{
    font-size: 3rem;
    margin-right: 4rem;
}

/* this is the cool part */
.roll-animation{
    animation-name: roll;
}

@keyframes roll {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(720deg) rotateY(720deg);
    }
}